[submodule "bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule "bundle/a.vim"]
	path = .vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim
	ignore = dirty
[submodule "bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = dirty
[submodule "bundle/incsearch.vim"]
	path = .vim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
	ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
	ignore = dirty
[submodule "bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
	ignore = dirty
[submodule "bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
	ignore = dirty
[submodule "bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
	ignore = dirty
[submodule "bundle/vim-cmake"]
	path = .vim/bundle/vim-cmake
	url = git://github.com/vhdirk/vim-cmake.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
	ignore = dirty
[submodule "bundle/vim-signature"]
	path = .vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
	ignore = dirty

[submodule "bundle/minibufexpl"]
	path = .vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim
	ignore = dirty
[submodule "bundle/vim-fswitch"]
	path = .vim/bundle/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
	ignore = dirty
[submodule "bundle/vim-auto-save"]
	path = .vim/bundle/vim-auto-save
	url = https://github.com/vim-scripts/vim-auto-save.git
	ignore = dirty
[submodule "bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
	ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "bundle/ctrlsf.vim"]
	path = .vim/bundle/ctrlsf.vim
	url = https://github.com/dyng/ctrlsf.vim.git
	ignore = dirty
[submodule "bundle/vim-headerguard"]
	path = .vim/bundle/vim-headerguard
	url = https://github.com/drmikehenry/vim-headerguard.git
	ignore = dirty
[submodule "bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
	ignore = dirty
[submodule "bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	ignore = dirty
[submodule "bundle/vinarise"]
	path = .vim/bundle/vinarise
	url = https://github.com/shougo/vinarise
	ignore = dirty
[submodule "bundle/vim-instant-markdown"]
	path = .vim/bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
	ignore = dirty
[submodule "bundle/fcitx.vim"]
	path = .vim/bundle/fcitx.vim
	url = https://github.com/lilydjwg/fcitx.vim.git
	ignore = dirty
